@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MudDatePicker Date="@date" DateChanged="Callback"></MudDatePicker>

@if (isLoading)
{
    <MudSkeleton></MudSkeleton>
}
else
{
    <MudCard>
        <MudCardHeader></MudCardHeader>
        <MudCardContent>
            dati reali
        </MudCardContent>
        <MudCardActions></MudCardActions>
    </MudCard>
}

@code
{
    private DateTime? date;

    private bool isLoading;

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await Callback(DateTime.Today);
    //    }
    //}

    protected override async Task OnInitializedAsync()
    {
        await Callback(DateTime.Today);
    }

    private async Task Callback(DateTime? obj)
    {
        isLoading = true;

        date = obj;

        await Task.Delay(3000);

        isLoading = false;
    }

}
